@using ShopManager.Models
@model List<Product>

@{
    ViewData["Title"] = "Products List";
}

<h2>Products List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price.ToString("N0") VND</td>
                <td>@item.Description</td>
                <td>
                    <a asp-action="ProductDetail" asp-route-id="@item.Id" class="btn btn-info">Show Description</a>
                </td>
            </tr>
        }
    </tbody>
</table>
